version: '3.8'

services:
  kestra:
    image: kestra/kestra:v1.1.6
    container_name: kestra
    command: server local
    ports:
      - "8082:8080"
    env_file:
      - ./apps/web/.env.local # Load keys from local env file
    pull_policy: always
    environment:
      KESTRA_CONFIGURATION: |
        kestra:
          variables:
            env-vars-prefix: "APP_"
          server:


          repository:
            type: postgres
          queue:
            type: postgres
          storage:
            type: local
            local:
              base-path: /app/storage
        datasources:
          default:
            url: jdbc:postgresql://${KESTRA_DB_HOST}:${KESTRA_DB_PORT}/${KESTRA_DB_NAME}?options=-c%20search_path=kestra&stringtype=unspecified
            driverClassName: org.postgresql.Driver
            username: ${KESTRA_DB_USER}
            password: ${KESTRA_DB_PASSWORD}
      APP_GEMINI_API_KEY: ${GEMINI_API_KEY}
      APP_VAPI_API_KEY: ${VAPI_API_KEY}
      APP_VAPI_PHONE_NUMBER_ID: ${VAPI_PHONE_NUMBER_ID}
      FLYWAY_DATASOURCES_DEFAULT_ENABLED: "true"
      FLYWAY_DATASOURCES_DEFAULT_SCHEMAS: "kestra"

    volumes:
      - ./kestra/flows:/app/flows
      - ./kestra/scripts:/kestra
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - kestra-net
    restart: always

networks:
  kestra-net:
    driver: bridge
